<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xm6leefun.setting_module">

    <application
        android:name=".SettingApplication"
        android:allowBackup="true"
        android:label="Physical"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".address.list.AddressListActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".address.edit.AddressEditActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".syssetting.SystemSettingActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".nodesetting.NodeSettingActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>